.panda-buy-btn{
  background: #eb4715 !important;
border: none;
border-radius: 8px;
padding: 9px 25px
}
.panda-bg{
  background-color: #fceae8;
}
.bg-watch{
  background-color: #ffa500;
}
.bg-bag{
  background-color: #da70d6;
}
.bg-shoes{
  background-color:#00f;
}